body{
    margin: 0 auto;
    padding: 0;
    width: 1920px;
    

    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style: none;
}

.container-header{
    width: 1400px;
    margin: auto;

    align-items: center;
    display: flex;
}

.container-favorite-animal{
    width: 1400px;
    margin: auto;
    padding-bottom: 150px;
}

.header{
    padding: 18px 0px 15px 0px;
    background-color: #F58021;
    max-width: 100%;
}

.navigation{
    display: flex;
}

.header__navigation{
    display: flex;
    align-items: center;
}

.header__navigation__img{
    display: flex;
    align-items: center;
}

.navigation__link{
    text-decoration: none;
    text-transform: uppercase;

    padding-right: 48px;

    color: black;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
}

.navigation__link:active{
    color: #00A092;
}

.link-about:visited{
    color: #00A092;
}

.navigation__link-img{
    padding-right: 29px;
}

.facebook{
    padding-right: 0;
}

.design{
    padding-right: 30px;
}

.logo{
    padding-right: 465px;
}

.favorite-animal{
    background: url(../../assets/images/Background-panda.png); 
    background-position: left 0px top -40px;
    background-repeat: no-repeat;
    width: 100%;
}

.watch-animal-title{
    text-transform: uppercase;

    margin-top: 130px;

    font-style: normal;
    font-weight: 800;
    font-size: 82px;
    line-height: 100px;
    letter-spacing: 0.03em;

    color: #00A092;

    margin: 0;
    padding-top: 125px;

    width: 890px;
}

.watch-animal-info{
    padding-bottom: 26px;
    padding-top: 16px;
    width: 430px;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.3px;

    color: #000000;
}

.button-live-cam{
    background: #F58021;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 240px;
    height: 75px;
    text-decoration: none;
}

.button-live-cam:active{
    background: #D26004;
    box-shadow: 0px 4px 30px rgba(245, 128, 33, 0.3);
}

.button-live-cam:hover{
    cursor: pointer;
}

.button-live-cam__text{
    text-transform: uppercase;

    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    
    text-transform: uppercase;

    color: #FFFFFF;
    padding-right: 5px;
}

.content-welcome{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: auto;
}

.content-welcome-2{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: auto;
    margin-top: 148px;
}

.welcome-to-the-zoo{
    margin-top: 135px;
}

.title-welcome{
    width: 523px;

    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;

    color: #00A092;
    padding-top: 20px;
}

.welcome-info{
    padding-top: 7px;
    width: 560px;

    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.3px;

    color: #000000;
}

.title-birds{
    margin-top: 90px;
}

.your-donation{
    margin-top: 150px;
    background: #20113D;
}

.donation-title{
    padding-top: 10px;
    margin-bottom: 0;

    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.donation-info{
    padding-bottom: 27px;

    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.3px;

    color: #FFFFFF;

    width: 609px;
}

.quick-donate-title{
    padding-top: 17px;
    margin-bottom: 10px;

    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;

    color: #FFFFFF;
}

input::placeholder, input[type="number"]{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;

    color: #FFFFFF;
}

input[type="number"]{
    vertical-align: middle;
    text-align: center;
    -moz-appearance: textfield;
    height: 65px;
    width: 233px;
    background-color: #20113D;
    border: none;
    outline:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-donate{
    display: flex;
    border: solid #FFFFFF 1px;
    border-radius: 5px;
}

.button-arow{
    background: #F58021;
    border-radius: 5px;
    align-items: center;
    width: 80px;
    height: 73px;
}

.button-arow:hover{
    cursor: pointer;
}

.container-animals-text{
    width: 1400px;
    margin: auto;

    text-align: center;
}

.meet-some{
    padding-top: 90px;
    padding-left: 12px;
    text-align: center;

    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;

    color: #00A092;
}

.our-pets-text{
    padding-top: 10px;

    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.3px;

    width: 930px;
    margin: 0 auto;
    color: #000000;
}

.container-animals{
    width: 1400px;
    margin: 0 auto;

    /* margin-top: 50px;
    margin-left: 260px; */
}

.buttons-slider{
    margin-top: 107px;
}

.button-slider:hover{
    transform:scale(1.2);
    cursor: pointer;
}

.button-slider{
    width: 60px;
    height: 60px;
    
    border: 1px solid #20113D;
    border-radius: 5px;

    margin: 0px 26px;
}

.pets-cards{
    margin-top: 50px;
    overflow-x: hidden;
    width: 1880px;
    margin-bottom: 50px;
    justify-content: space-between;

    display: flex;
    flex-wrap: wrap;
}

.pets-card{
    background-color: #20113D;
    border-radius: 5px;

    width: 440px;
    height: 747px;

    display: block;
    text-align: center;

    margin-bottom: 40px;

    position: relative;
    text-decoration: none;
}

.pets-card:hover{
    transform: scale(1.1);
    opacity: 0.8;
    transition: all 1s;
}

.title-pet{
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    text-align: center;

    color: #FFFFFF;
    margin-top: 27px;
    margin-bottom: 5px;
}

.info-pet{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    letter-spacing: -0.3px;
}

.button-pet{
    background: #20113D;
    border: none;

    text-align: center;
    margin: auto;
}

.text-button-pet{
    color: #F58021;
    text-transform: uppercase;

    font-weight: 600;
    font-size: 21px;
    line-height: 22px;
    letter-spacing: 0.3px;
    
    text-transform: uppercase;

    padding-right: 5px;
}

.lemur{
    padding-bottom: 30px;
}

.pet-img{
    border-radius: 5.6314px 5.6314px 0px 0px;
}

.name-pet{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0px;
    left: 0px;

    background-color: #20113D;
    color: #FFFFFF;

    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;

    text-align: center;

    padding: 0 30px;
    height: 60px;
}

.choose-favorite{
    display: flex;
    justify-content: center;
}

.button__choose-favourite{
    margin: auto;

    display: flex;
    justify-content: center;

    padding: 25px 30px;
}

.text-button-choose{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-transform: uppercase;

    color: #20113D;

    margin-right: 15px;
    letter-spacing: 1.1px;
}

.pay-end-feed{
    margin-top: 90px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;

    margin-bottom: 98px;
}

.content-pay-end-feed{
    width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.hr-part{
    display: flex;
    align-items: center;

    flex-wrap: wrap;
}

.text-number{
    color: #FFFFFF; 
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;

    padding-right: 90px;
}

.img-block-pay{
    width: 560px;
    height: 364px;

    border-radius: 5px;
}

.donation-block{
    display: flex;

    padding-top: 80px;
}

.title-block-donate{
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    /* identical to box height, or 34px */

    margin-top: 30px;
    margin-bottom: 48px;

    color: #FFFFFF;
}

.text-block-donate{
    display: block;
    width: 570px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;

    letter-spacing: -0.3px;

    color: #FFFFFF;

}

.donation-block__text{
    margin-left: 160px;
    padding-top: 20px;
}

.second-hr{
    margin-top: 105px;
}

.third-hr{
    margin-top: 90px;
}

.button__donate-now{
    padding: 20px 33px;

    background: #F58021;
    border-color: #F58021;
    border-radius: 5px;

    margin-top: 60px;
}

.text-button-donate{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;

    margin-right: 10px;
    letter-spacing: 2.1px;
}

.what-our-block{
    display: flex;
    margin-top: 150px;

    width: 1660px;
    margin-left: 260px;
}

.container-panda{
    background: url(../../assets/images/image\ 97.png);
    background-position: left 0px top -40px;
    background-repeat: no-repeat;
    width: 100%;


}

.what-our-title{
    display: block;
    width: 440px;

    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-bottom: 40px;
}

.what-our-text{
    display: block;
    width: 560px;

    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: -0.3px;
    /* or 34px */

    color: #FFFFFF;
}

.quotes{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 120px;
    text-transform: uppercase;
    color: #00A092;
    height: 90px;

    padding-left: 50px;
    padding-top: 20px;

    display: block;
}

.card-title{
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    padding-left: 50px;
    /* identical to box height, or 34px */

    color: #000000;
}

.card-text{
    width: 415px;
    letter-spacing: -0.3px;
    padding-left: 50px;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    margin-bottom: 40px;
}

.last-text{
    margin-bottom: 15px;
}

.card-name{
    padding-left: 50px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-transform: uppercase;

    color: #000000;
}

.what-card{
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    text-align: left;

    width: 515px;
    height: 463px;

    margin-bottom: 29px;
}

.what-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 50px;
    padding-left: 40px;
}

.slider-new{
    padding-top: 30px;
    margin: auto;

    width: 250px;
}

.button-now{
    background: transparent;
    
    border-color: white;
}

.text-button-leave{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;

    padding-right: 7px;

}

.button-new-leave{
    border: 1px solid #FFFFFF;
    border-radius: 5px;

    padding: 25px 80px;

    margin-top: 380px;
    margin-left: 260px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: transparent;
}

.slider-new-leave{
    padding-bottom: 150px;
}

.care-for-block{
    text-align: center;

    margin-top: 130px;
}

.care-for-title{
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-align: center;
    text-transform: uppercase;

    color: #00A092;

    width: 655px;

    margin: auto;
    padding-bottom: 50px;
}

.care-for-text{
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    /* or 34px */

    text-align: center;

    color: #20113D;

    width: 537px;

    margin: auto;
}

.care-for-cards{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: auto;

    margin-top: 100px;

    flex-wrap: wrap;
}

.card-new{
    height: 658px;
}

.info-pet-new{
    text-align: center;
    padding-top: 12px;

    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;

    width: 390px;
}

.text-button-pet-new{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-transform: uppercase;
}

.button-pet-new{
    padding-top: 25px;
}

.button__choose-favourite__second{
    margin-top: 55px;
}

.footer{
    background: #20113D;
}

.footer__container{
    width: 1440px;
    margin: auto;
}

.footer__navigation{
    align-items: center;
    display: flex;

    margin-top: 55px;
    padding-left: 18px;
}

.footer__link{
    padding-right: 67px;
}

.first-child{
    padding-left: 30px;
}

.footer__link-text{
    padding-right: 50px;

    text-decoration: none;
    text-transform: uppercase;

    color: white;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
}

.last-button{
    margin: 0;
    margin-left: 40px;
    margin-top: 10px;
    padding: 26px 35px;
}

.footer__last-nav{
    display: flex;

    margin-top: 23px;
    margin-left: 20px;
}

.footer-text{
    font-size: 18px;
    line-height: 150%;

    color: #FFFFFF;

    padding-right: 50px;
}

.footer__hr{
    width: 1400px;
    border: 1px solid #FFFFFF;
    margin-top: 35px;
}

.footer__imgs{
    margin-left: 670px;
    padding-bottom: 20px;
}